.card-wrapper {
  min-width: 30px;
}

.card {
  background: white;
  border-radius: 5%;
  border: 1px gray solid;
  height: 200px;
  width: 148px;
  gap: 0;
}

.card-vertical {
  width: 200px;
  height: 148px;
}

.card-disabled {
  position: absolute;
  top: 0;
  background: gray;
  opacity: 50%;
  border-radius: 5%;
  height: 200px;
  width: 148px;
  gap: 0;
  cursor: not-allowed;
}

.rank {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
